# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Database
DATABASE_NAME=project-name
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password

DOCKER_LOCAL_VOLUME_PATH=./local-storage/pgdata

# Example:
# SERVERVAR="foo"